*,
*::before,
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
}




body input{
    width: fit-content;

}

/*HEADER*/

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .navbar {
    font-size: large;
    font-weight: bold;
    width: 210vh!important;
    position: relative!important;
    /* background-color: #26282a!important; */
    position: fixed!important;
    border: 2px solid black;


  }
  #searchButton{
    margin-right: 2vh;
    background: transparent;
    color: white;
    border: none;
  }
  #openCartButton{
    background: transparent;
    color: white;
    border: none;
  }
  #searchContainer{
    margin-top: 1vh;
    border: none;
  }
  .quantityInput{
    width: 4vh;
    display: none;
  }
  .nav-item .fa-solid {
    padding:0px 10px;
  
  }
  .nav-link{
    margin:  5px 15px;
  }
.navbar-nav li a{
  color: #f0f0f0;
}
  .navbar-nav li:hover a {
    color: #00e4c0; /* Color del texto al pasar el ratón */
}
#checkoutButton{
  margin-left: 5vh;
  margin-top: 2vh;
}
#removeSelectedButton{
  display: none;
}
/* Añade estos estilos al final de tu archivo de estilos o en un nuevo archivo CSS */
.close-cart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555; /* Color del icono */
  font-size: 20px; /* Tamaño del icono */
}
#searchInput{
  width: 120px;
  border: 1px solid gray;
}



/* header {
    background-color: #D9D9D9;
    width: 100%;


    display: flex;
    justify-content: space-between;

 
}

.nav-links {
    display: flex;
    justify-content: end;

}

header ul {
    display: flex;
    gap: 3rem;
    margin-right: 1rem;
    justify-content: end;
    align-items: center;
}

.menu-section {
    font-weight: bold;
    font-size: large;
}






.menu-section:hover {
    cursor: pointer;
    color: #297780;
}

.logo-web {
    width: 4rem;
    display: grid;
    justify-content: start;
    margin-left: 1rem;
}

.logo-shoppingcart {
    width: 40px;
}
 
figure.logo-rrss img {
    width: 30px;
    border: 1px solid black;
} 
 */

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #F5F5F5;
  border-radius: 0.5rem;
  box-shadow: 50px 60px 50px -30px rgb(145, 145, 145);
  margin-left: 23%;
  margin-top:5%;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #8371fd;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

#email-error, #user-error, #user-error2, #password-error, #password-error2{
    position: absolute;
    margin-top: 0.2rem;
    color:red;
    transition:top 0.5s;
    font-size:0.8rem;
    
}




.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}


.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #111315;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}




.sign-btn:hover {
  background-color: #5dc3eb;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #8371fd;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .sideImage {
  left: 0%;
}

.sideImage {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-image: url(../img/imgFormulario.gif);
  background-size: cover;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}


.image {
  width: 100%;
  height: auto;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  /* opacity: 0; */
  transition: opacity 0.3s, transform 0.5s;
}



.text-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(700%);
  transition: 0.5s;
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}





/* Media querys  */

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
    margin-left: 0%;
    margin-top:20%;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }


  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .sideImage {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}






@media (max-width: 530px) {
  main {
    padding: 0.5rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .sideImage {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}





/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 28px;
      
    }
    h2.text-group {
      line-height: 5.2rem;
      font-weight: 600;
      font-size: 1.6rem;
      padding-left: 7%;
      transform: translateY(10%);
    }
  
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
    margin-left: 15%;
    margin-top:20%;
  }

}







/*FOOTER */
footer {
  margin-top: 20%;
  bottom:0px;
  width:100%;
  height: auto;
  background:#151111;
  color:#ffffff;
}

form.form-contact {
  margin: 0;
}


.footer-content{
display: flex;
}


.footer-content .boxfooter{
  flex-basis:50%;
  padding:20px 50px;
  }


.boxfooter h2{
  font-size:1.15rem;
  text-transform: uppercase;
}

.boxfooter .content{
  margin:20px 0 0 0;
  position:relative;

}

.boxfooter .content:before{
  position:absolute;
  content:'';
  top:-10px;
  height:2px;
  width:100%;
  background:#ffffff;
}

.boxfooter .content:after{
  position:absolute;
  content:'';
  height: 2px;
  width:15%;
  background:#28cdd0;
  top:-10px;


}

.left .content .rrss-footer{
  margin:20px 0 0 0;
}
.left .content .rrss-footer a{
 padding: 0 2px;
}

.left .content .rrss-footer a span{
  height:40px;
  width:40px;
  background:#428182;
  line-height: 40px;
  text-align: center;
  font-size:18px;
  align-items: center;

 }
 
 button {
  background-color: #3fa8c3;
  height: 40px;
  width: 100%;
  color: #333;
  cursor: pointer;
  border-radius: 0.8rem;
  border:none;
  margin-top:1rem;
  transition:.3s;
  color:white;
}

button:hover {
  transform: scale(1.2);
  transition: all .3s; 

}


.logo-rrss {
  width: 8%;
  margin: 0.5 rem;
  gap: 0;
  transition: all .3s; 
}

.logo-rrss:hover {
  transform: scale(1.3);
}

img.icono-ubicacion{
  margin-top: 35px;
  width: 4%;
}

.center .content .text{
  font-weight: 500;
  padding-left:10px;
  font-size: 1rem;
  color: white;
  
}


.text-contact{
  margin-bottom: 0.5rem;
}

.right form .msg{
  margin-top: 10px;
  padding: 5px;
}


.right form .email{
  margin-top: 10px;
  padding:5px;
}


.right form input, .right form textarea{
  width:100%;
  font-size:1.0625 rem;
  background:rgb(255, 255, 255);
  padding-left:10px;
  border:1px #fff;
  resize: none;
  
}


.right form .text{
margin-bottom:2px;
}

.right form input:focus, .right form textarea:focus{
 outline-color:#28cdd0
}

.right form input{
  height:35px;
 }
 

 

/* 
 Media query del footer */
@media screen and (max-width:900px){
  footer{
    position:relative;
  }
  .footer-content{
    flex-wrap:wrap;
    flex-direction: column;
  }
}


/* estilo de los a href y listas */
a {
  text-decoration: none;
  color:#ffffff
}

a:hover {
  color: #28cdd0;
}


ul, ol {
  list-style: none;
  
  padding: 0;
  margin: 0;
  font-size:1.20rem;
  
}