* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Playpen Sans', cursive;
  font-family: 'Poppins', sans-serif;
}
/* home */
.container-fluid{
  background-color: black;
  width: 20vh;
}
body{
  background-color: #f2f2f2!important;
  margin-top: 56px;
}
#cartItemCount{
  color: white;
  padding: 0 2vh;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  height: 50%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button {
  left: 10px;
  display: none;
}

.next-button {
  right: 10px;
  display: none;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* home */
/* productos */
  #catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vh;
    justify-items: center;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 2vh 50px;
    text-align: center;
    width: 350px;
    border-radius: 3vh;
    background: #fff;
    font-weight: bold;
  }
  .product p{
    font-size: 20px;
  }

  .pagination {
    margin-top: 20px;
    justify-content: center;
  }
  .viewDetailsBtn{
    border: none;
    padding: 0 1vh;
  }
  
  .pagination button {
    margin: 5px;
    cursor: pointer;
  }
  .pagination button {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.pagination button.current {
  background-color: #297780;
  color: white;
}
.cart-container{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 460px;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow:-2px 0 4px hsl(0 4% 15%/ 10%);
  display: none;
}
.cart-title{
  text-align: center;
  font-size:1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
ul .list-group{
  display: none;
}
#currentPageIndicator {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .botones{
    display: flex;
    justify-content: center;
    margin: 2vh 0vh;
  }
  .botones button{
    margin-left: 2vh;
    border: 1px solid #ccc;
    width: 20vh;
  }
  
  img {
    width: 20vh;
    height: 15vw;
    margin-bottom: 10px;
  } 
  
/* Estilos para el botón de cierre */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .navbar {
    font-size: large;
    font-weight: bold;
    width: 210vh!important;
    position: relative!important;
    /* background-color: #26282a!important; */
    position: fixed!important;
    border: 2px solid black;


  }
  #searchButton{
    margin-right: 2vh;
    background: transparent;
    color: white;
    border: none;
  }
  #openCartButton{
    background: transparent;
    color: white;
    border: none;
  }
  #searchContainer{
    margin-top: 1vh;
    border: none;
  }
  .quantityInput{
    width: 4vh;
    display: none;
  }
  .nav-item .fa-solid {
    padding:0px 10px;
  
  }
  .nav-link{
    margin:  5px 15px;
  }
.navbar-nav li a{
  color: #f0f0f0;
}
  .navbar-nav li:hover a {
    color: #00e4c0; /* Color del texto al pasar el ratón */
}
#checkoutButton{
  margin-left: 5vh;
  margin-top: 2vh;
}
#removeSelectedButton{
  display: none;
}
/* Añade estos estilos al final de tu archivo de estilos o en un nuevo archivo CSS */
.close-cart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555; /* Color del icono */
  font-size: 20px; /* Tamaño del icono */
}
#searchInput{
  width: 120px;
  border: 1px solid gray;
}
/* ficha */
main{
  display: flex;
}
.titulo {
  grid-column-gap: 20px;
  margin-top: 10px;
}
.central_p{
  display: flex;
}
.ficha{
  padding-top: 10vh;
  margin-left: 20vh;
  margin-top: 20vh;
  display: flex;
  align-items: flex-start;
  width: 120vh;
}
#productName{
  margin-left: 10vh;
  margin-bottom: 2vh;
  font-weight: bold;
  font-size: 2em;
}
#productImage{
  width: 50vh;
  height: 50vh;
}
.datos{
  margin-left: 10vh;
  margin-top: 10vh;
}
.datos p{
  font-size: 25px;
  font-weight: bold;
}
#productDescription{
  color: #fff;
  background-color: black;
  margin-top: 25vh;
  padding: 6vh;
  margin-right: 5vh;
  height: 60vh;
  width: 75vh;
  border-radius: 3vh;

}
.descripcion p{
  font-size: 25px;
}

/* fin_ficha */
/* checkout */
  .centro{
    margin-top: 20vh;
    margin-left: 12vh;
    width: 65vh;
    height: 60vh;
    background-color: #fff;
    border-radius: 3vh;
    padding: 2vh;
  }
  #checkoutProductsList li{
    font-size: 20px;
    margin-top: 2vh;
  }
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}
.centro p{
  font-size: 30px;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: black; /* Color de la línea */
  text-decoration-style: double; /* Estilo de la línea (puede ser 'solid', 'dotted', 'dashed', etc.) */
  text-decoration-thickness: 2px;
  text-align: center;
  width: 50vh;
  margin-top: 10vh;
}
.remove-product-button{
  border: none;
}
form {
  max-width: 500px;
  margin: 20vh auto;
  background: white;
  padding: 5vh;
  border-radius: 3vh;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.check{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* fin_checkout */

/*footer  */
/* footer {

/* Add this media query for responsiveness */
@media screen and (max-width: 768px) {
  .menu-btn{
    background:url(/img/menu.svg);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}
.menu-btn.active{
    z-index: 999;
    background: url(/img/menu.svg);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
}
header .nav-item{
  display: none;
}
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(216, 208, 208);
    box-shadow: -2px 0 4px hsl(0 4% 15%/ 10%);
  }

  .navbar-nav.show {
    display: flex;
  }

  .navbar-nav li {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .navbar-toggler {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }

  .navbar-toggler .icon-bar {
    background-color: #555;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: background-color 0.3s;
  }

  .navbar-toggler:checked + .navbar-nav {
    display: flex;
  }

  .navbar-toggler:checked + .navbar-nav .icon-bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar-toggler:checked + .navbar-nav .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler:checked + .navbar-nav .icon-bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
/* Estilos para el menú hamburguesa en pantallas más pequeñas */
@media screen and (max-width: 1040px) {
  .menu-btn {
    background: url(/img/menu.svg);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(/img/menu.svg);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  header .nav-item {
    display: none;
  }
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .navbar-nav.show {
    display: flex;
  }
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
  }
}

/* Estilos para pantallas aún más pequeñas (380px) */

@media screen and (max-width: 768px) {
  .navbar {
    font-size: medium;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav li {
    text-align: center;
    margin: 5px 0;
  }

  .carousel-container {
    height: auto;
  }

  .carousel img {
    height: auto;
    max-width: 100%;
  }

  #catalog {
    margin-top: 10vh;
  }

  .product {
    margin: 2vh 10px;
  }

  .pagination {
    margin-top: 10px;
    justify-content: center;
  }

  .cart-container {
    width: 100%;
    min-height: 70vh;
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  .navbar {
    /* Estilos específicos para pantallas medianas y grandes */
    width: 210vh; /* O el valor que desees para pantallas grandes */
    
  }
}





