* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Playpen Sans', cursive;
  font-family: 'Poppins', sans-serif;
}
/* home */
.container-fluid{
  background-color: black;
  width: 20vh;
}
body{
  background-color: #f2f2f2!important;
  margin-top: 56px;
}
#cartItemCount{
  color: white;
  padding: 0 2vh;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  height: 50%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button {
  left: 10px;
  display: none;
}

.next-button {
  right: 10px;
  display: none;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* home */
/* productos */
.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;  /* Ajusta el espacio entre los productos del carrito si es necesario */
}
.removeFromCartBtn {
  background: none;
  border: none;
  cursor: pointer;
}
  #catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vh;
    justify-items: center;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 2vh 50px;
    text-align: center;
    width: 350px;
    border-radius: 3vh;
    background: #fff;
    font-weight: bold;
  }
  .product p{
    font-size: 20px;
  }

  .pagination {
    margin-top: 20px;
    justify-content: center;
  }
  .viewDetailsBtn{
    border: none;
    padding: 0 1vh;
  }
  
  .pagination button {
    margin: 5px;
    cursor: pointer;
  }
  .pagination button {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.pagination button.current {
  background-color: #297780;
  color: white;
}
.cart-container{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 460px;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow:-2px 0 4px hsl(0 4% 15%/ 10%);
  display: none;
}
.cart-title{
  text-align: center;
  font-size:1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
ul .list-group{
  display: none;
}
#currentPageIndicator {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .botones{
    display: flex;
    justify-content: center;
    margin: 2vh 0vh;
  }
  .botones button{
    margin-left: 2vh;
    border: 1px solid #ccc;
    width: 20vh;
  }
  
  img {
    width: 20vh;
    height: 15vw;
    margin-bottom: 10px;
  } 
  
/* Estilos para el botón de cierre */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .navbar {
    font-size: large;
    font-weight: bold;
    width: 210vh!important;
    position: relative!important;
    /* background-color: #26282a!important; */
    position: fixed!important;
    border: 2px solid black;


  }
  #searchButton{
    margin-right: 2vh;
    background: transparent;
    color: white;
    border: none;
  }
  #openCartButton{
    background: transparent;
    color: white;
    border: none;
  }
  #searchContainer{
    margin-top: 1vh;
    border: none;
  }
  .quantityInput{
    width: 4vh;
    display: none;
  }
  .nav-item .fa-solid {
    padding:0px 10px;
  
  }
  .nav-link{
    margin:  5px 15px;
  }
.navbar-nav li a{
  color: #f0f0f0;
}
  .navbar-nav li:hover a {
    color: #00e4c0; /* Color del texto al pasar el ratón */
}
#checkoutButton{
  margin-left: 5vh;
  margin-top: 2vh;
}
#removeSelectedButton{
  display: none;
}
/* Añade estos estilos al final de tu archivo de estilos o en un nuevo archivo CSS */
.close-cart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #555; /* Color del icono */
  font-size: 20px; /* Tamaño del icono */
}
#searchInput{
  width: 120px;
  border: 1px solid gray;
}
/* ficha */
main{
  display: flex;
}
.titulo {
  grid-column-gap: 20px;
  margin-top: 10px;
}
.central_p{
  display: flex;
}
.ficha{
  padding-top: 10vh;
  margin-left: 20vh;
  margin-top: 20vh;
  display: flex;
  align-items: flex-start;
  width: 120vh;
}
#productName{
  margin-left: 10vh;
  margin-bottom: 2vh;
  font-weight: bold;
  font-size: 2em;
}
#productImage{
  width: 50vh;
  height: 50vh;
}
.datos{
  margin-left: 10vh;
  margin-top: 10vh;
}
.datos p{
  font-size: 25px;
  font-weight: bold;
}
#productDescription{
  color: #fff;
  background-color: black;
  margin-top: 25vh;
  padding: 6vh;
  margin-right: 5vh;
  height: 60vh;
  width: 75vh;
  border-radius: 3vh;

}
.descripcion p{
  font-size: 25px;
}

/* fin_ficha */
/* form */

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #F5F5F5;
  border-radius: 0.5rem;
  box-shadow: 50px 60px 50px -30px rgb(145, 145, 145);
  margin-left: 20%;
  margin-top:20vh;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #8371fd;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

#email-error, #user-error, #user-error2, #password-error, #password-error2{
    position: absolute;
    margin-top: 0.2rem;
    color:red;
    transition:top 0.5s;
    font-size:0.8rem;
    
}




.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}


.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}




.sign-btn:hover {
  background-color: #5dc3eb;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #8371fd;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .sideImage {
  left: 0%;
}

.sideImage {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-image: url(../img/imgFormulario.gif);
  background-size: cover;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}


.image {
  width: 100%;
  height: auto;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  /* opacity: 0; */
  transition: opacity 0.3s, transform 0.5s;
}



.text-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(700%);
  transition: 0.5s;
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}





 
/* form */
/* checkout */
  .centro{
    margin-top: 20vh;
    margin-left: 12vh;
    width: 65vh;
    height: 60vh;
    background-color: #fff;
    border-radius: 3vh;
    padding: 2vh;
  }
  #checkoutProductsList li{
    font-size: 20px;
    margin-top: 2vh;
    margin-right: 20vh;
    display: flex;
    width: 40vh;
    gap: 1vh;
  }
  .row{
    margin-top: 20vh!important;
    margin-left: 10vh!important;
  }
  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}
#btn-test{
  width: 23vh;
  margin-top: -55vh;
  margin-left: 26vh;
}
.formulario{
  display: flex;
  flex-direction: column;
}
.centro p{
  font-size: 30px;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: black; /* Color de la línea */
  text-decoration-style: double; /* Estilo de la línea (puede ser 'solid', 'dotted', 'dashed', etc.) */
  text-decoration-thickness: 2px;
  text-align: center;
  width: 50vh;
  margin-top: 10vh;
}
.remove-product-button{
  border: transparent;
  background: transparent;
  width: 2vh;
}
.row {
  max-width: 500px;
  margin: 20vh auto;
  background: white;
  padding: 5vh;
  border-radius: 3vh;
  position: relative;

}
#display{
  color: white !important;
}
label {
  display: block;
  margin-top: 10px;
}
#checkoutProductsList{
  margin-top: 5vh;
  margin-right: 1vh;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.check{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* fin_checkout */

/*footer  */

footer {
  margin-top: 20%;
  bottom:0px;
  width:100%;
  height: auto;
  background:#151111;
  color:#ffffff;
}

form.form-contact {
  margin: 0;
}


.footer-content{
display: flex;
}


.footer-content .boxfooter{
  flex-basis:50%;
  padding:20px 50px;
  }


.boxfooter h2{
  font-size:1.15rem;
  text-transform: uppercase;
}

.boxfooter .content{
  margin:20px 0 0 0;
  position:relative;

}

.boxfooter .content:before{
  position:absolute;
  content:'';
  top:-10px;
  height:2px;
  width:100%;
  background:#ffffff;
}

.boxfooter .content:after{
  position:absolute;
  content:'';
  height: 2px;
  width:15%;
  background:#28cdd0;
  top:-10px;


}

.left .content .rrss-footer{
  margin:20px 0 0 0;
}
.left .content .rrss-footer a{
 padding: 0 2px;
}

.left .content .rrss-footer a span{
  height:40px;
  width:40px;
  background:#428182;
  line-height: 40px;
  text-align: center;
  font-size:18px;
  align-items: center;

 }
 
 .btn-contact button  {
  background-color: #3fa8c3;
  height: 40px;
  width: 100%;
  color: #333;
  cursor: pointer;
  border-radius: 0.8rem;
  border:none;
  margin-top:1rem;
  transition:.3s;
  color:white;
}

button:hover {
  transform: scale(1.2);
  transition: all .3s; 

}


.logo-rrss {
  width: 10%;
  margin: 0.5 rem;
  height: 10%;
  gap: 0;
  transition: all .3s; 
}

.logo-rrss:hover {
  transform: scale(1.3);
}

img.icono-ubicacion{
  margin-top: 15px;
  width: 4%;
  height: 4%;
}

.center .content .text{
  font-weight: 500;
  padding-left:10px;
  font-size: 1rem;
  color: white;
  
}


.text-contact{
  margin-bottom: 0.5rem;
}

.right form .msg{
  margin-top: 10px;
  padding: 5px;
}


.right form .email{
  margin-top: 10px;
  padding:5px;
}


.right form input, .right form textarea{
  width:100%;
  font-size:1.0625 rem;
  background:rgb(255, 255, 255);
  padding-left:10px;
  border:1px #fff;
  resize: none;
  
}


.right form .text{
margin-bottom:2px;
color: black;
}


.right form input:focus, .right form textarea:focus{
 outline-color:#28cdd0
}

.right form input{
  height:35px;
 }
 

.list-style a {
  text-decoration: none !important;
  list-style: none;

  color:#ffffff
}

.list-style a:hover {
  color: #28cdd0;
}

ul, ol{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size:1.20rem;
  
}
/* footer 
/* hamburguesa */
.menu_hamburguesa {
  border-style: none;
  background: transparent;
  display: none;
}


.menu_desplegable {
  display: none; /* para que se oculte al principio*/
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fff; /* Color de fondo del menú */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  flex-direction: column;

}

/* Estilos para los elementos del menú desplegable */
.menu_desplegable a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000; 
}

/* Estilos para los elementos del menú desplegable al pasar el ratón sobre ellos */
.menu_desplegable a:hover {
  background-color: #BFEE9A; /* Cambia el color de fondo al pasar el ratón */
}

/* Muestra el menú desplegable cuando el menú hamburguesa está activo */
.menu_hamburguesa.active + .menu_desplegable {
  display: block;
}
/* hamburguesa */
/* Add this media query for responsiveness */
@media screen and (max-width: 768px) {
  
  .navbar {
    font-size: medium!important;
    z-index: 1000!important;
    display: flex!important;
    flex-direction: column!important;
}

  .navbar-nav {
    flex-direction: column!important;
  }

  .navbar-nav li {
    text-align: center!important;
    margin: 5px 0!important;
  }

  .carousel-container {
    height: auto;
  }

  .carousel img {
    height: auto;
    max-width: 100%;
  }

  #catalog {
    margin-top: 10vh;
  }

  .product {
    margin: 2vh 10px;
  }

  .pagination {
    margin-top: 10px;
    justify-content: center;
  }

  .cart-container {
    width: 100%;
    min-height: 70vh;
    padding: 20px;
  }
}
@media screen and (max-width: 1040px) {
/* checkout */
.check{
  display: flex;
  flex-direction: column;
}
/*  checkout*/
/* producto */
.central_p{
  display: flex;
  flex-direction: column;
}
/* producto */
/* home */
.navbar a {
  font-size: medium!important;
  z-index: 1000!important;
  display: flex!important;
  flex-direction: column!important;
  width: 100%;
}

.navbar-nav {
  flex-direction: column!important;
}

.navbar-nav li {
  text-align: center!important;
  margin: 5px 0!important;
}

.logo{

}
@media screen and (max-width:900px){
  footer{
    position:relative;
  }
  .footer-content{
    flex-wrap:wrap;
    flex-direction: column;
  }
}
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
    margin-left: 0%;
    margin-top:20vh;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    margin-top: 20vh;
  }

  .heading {
    margin: 2rem 0;
  }


  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .sideImage {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .sideImage {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}




@media screen and (max-width: 768px) {
    .formulario {
        width: 80%;
    }
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    h4 {
        font-size: 28px;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}


.main-form{
    display: grid;
    justify-items: center;
    align-items: center;

}

.logo-register{
    width: 30px;
    
   
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 1000px) {
    .control {
        width: 86%;
        /* Ajusta el ancho al 100% en pantallas más pequeñas */
    }
}



