* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Playpen Sans", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  width: fit-content;
}

/*HEADER*/

header {
  background-color: #d9d9d9;
  width: 100%;

  display: flex;
  justify-content: space-between;

  /* display: grid; */
}

.nav-links {
  display: flex;
  justify-content: end;
}

header ul {
  display: flex;
  gap: 3rem;
  margin-right: 1rem;

  /* grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column; */
  justify-content: end;
  align-items: center;
}

.menu-section {
  font-weight: bold;
  font-size: large;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #2f8f97;
}

.menu-section:hover {
  cursor: pointer;
  color: #297780;
}

.logo-web {
  width: 4rem;
  display: grid;
  justify-content: start;
  margin-left: 1rem;
}

.logo-shoppingcart {
  width: 40px;
}

figure.logo-rrss img {
  width: 30px;
  border: 1px solid black;
}

.main-container {
  /* background-color: red; */
  /* border: 3px solid black; */
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 6fr 4fr 1fr;
}

/*SECCION PRINCIPAL*/

.main-image {
  max-width: 80%;
  max-height: 100%;
  margin-left: 10rem;
}

ul {
  list-style: none;
}

.main-offer {
  /* background-color: rgb(100, 235, 235); */
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.main-text {
  display: grid;
  justify-items: center;

  padding-top: 2rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
  color: #2f8f97;
  /* margin-top: -3rem; */
}

.main-button {
  width: 25%;
  height: 5rem;

  background-color: #2f8f97;
  border: #2f8f97;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;

  font-size: 2rem;
  font-weight: bold;
  /* margin-top: -9rem; */
}

.main-button:hover {
  cursor: pointer;
  background-color: #297780;
}

/*CAROUSEL*/

.carousel-products {
  padding: 3rem;
  padding-bottom: 5rem;
  text-align: center;
  gap: 3.5rem;

  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); */
  grid-auto-flow: column;
}

article.product {
  /* border: 0.5px solid rgb(236, 233, 233); */
  padding-bottom: 1rem;
}

article.product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.info-product p {
  font-size: large;
  font-weight: 900;
  padding-bottom: 1rem;
}

.info-product button {
  background-color: #2f8f97;
  border: #2f8f97;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;

  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.info-product button:hover {
  cursor: pointer;
  background-color: #297780;
}

article.product figure {
  overflow: hidden;
}

.image-product {
  min-width: 40px;
  max-width: 220px;

  object-fit: cover;
  transition: all 0.5s;

  margin-top: 3rem;
}

.image-product:hover {
  transform: scale(1.1);
}

/* CARRITO COMPRA
/* .carrito {
  width: 80%;
  display: flex;
  /* grid-template-columns: 7fr 1fr; */

/*     
  margin-left: 20px;
  margin-top: 40px;


}

.products {

display: flex;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.article1 {


  margin-top: 15%;

}

.mini-price1 {
 
  
}

.cantidad {

  margin-top: 20%;
  display: flex;
}

.cantidad-input {
  width: 20%;
}



.colum2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 80px;
  width: 340px;   

}


h3{
  text-align: left;
} */

/* .carrito{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products{
  display: flex;
  flex-direction: column;

}
.row  {
  display: flex;
  margin: 50px;
  /* flex-direction: column; */

/* }

.colum2{
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.colum2 > * {
  margin-bottom: 15px;

}

.image-text {

  
  display: flex;
}
.quantity {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  flex-direction: column;
}
.price{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px ;
  

}

.description{
  margin-top: 75px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.description ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;

}
.mini-price{
  margin-top: 50px ;
  font-weight: 700;
}


.producto{
  align-items: center;
}


.botons {
  background-color: #2F8F97;
  border: #2F8F97;
  width: 15rem;
  height: 3rem;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0px #000;
  color: #ffff;
}
.botons:hover {
  cursor: pointer;
  background-color: #297780;
  
}

.cantidad{
  margin-top: 50px ;
}
.cantidad-input{
  width: 50px;
}

.colum2 h3{
  font-weight: 700;

} */

/*TERMINOS & CONDICIONES*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px 0 80px;
}

.column {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
}

h4 {
  font-size: 1rem;
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin-top: 1rem;
}

p {
  font-size: 1rem;
  text-align: justify;
  color: #000000;
  margin-top: 1rem;
  font-weight: lighter;
}

/*FOOTER*/


/*FOOTER */
footer {
  margin-top: 20%;
  bottom:0px;
  width:100%;
  height: auto;
  background:#151111;
  color:#fff;
}

form.form-contact {
  margin: 0;
}


.footer-content{
display: flex;
}


.footer-content .boxfooter{
  flex-basis:50%;
  padding:20px 50px;
  }


.boxfooter h2{
  font-size:1.15rem;
  text-transform: uppercase;
}

.boxfooter .content{
  margin:20px 0 0 0;
  position:relative;

}

.boxfooter .content:before{
  position:absolute;
  content:'';
  top:-10px;
  height:2px;
  width:100%;
  background:#ffffff;
}
.boxfooter .content p{
  color:#fff;
}

.boxfooter .content:after{
  position:absolute;
  content:'';
  height: 2px;
  width:15%;
  background:#28cdd0;
  top:-10px;


}

.left .content .rrss-footer{
  margin:20px 0 0 0;
}
.left .content .rrss-footer a{
 padding: 0 2px;
}

.left .content .rrss-footer a span{
  height:40px;
  width:40px;
  background:#428182;
  line-height: 40px;
  text-align: center;
  font-size:18px;
  align-items: center;

 }
 
 button {
  background-color: #3fa8c3;
  height: 40px;
  width: 100%;
  color: #333;
  cursor: pointer;
  border-radius: 0.8rem;
  border:none;
  margin-top:1rem;
  transition:.3s;
  color:white;
}

button:hover {
  transform: scale(1.2);
  transition: all .3s; 

}


.logo-rrss {
  width: 8%;
  margin: 0.5 rem;
  gap: 0;
  transition: all .3s; 
}

.logo-rrss:hover {
  transform: scale(1.3);
}

img.icono-ubicacion{
  margin-top: 35px;
  width: 4%;
}

.center .content .text{
  font-weight: 500;
  padding-left:10px;
  font-size: 1rem;
  color: white;
  
}


.text-contact{
  margin-bottom: 0.5rem;
}

.right form .msg{
  margin-top: 10px;
  padding: 5px;
}


.right form .email{
  margin-top: 10px;
  padding:5px;
}


.right form input, .right form textarea{
  width:100%;
  font-size:1.0625 rem;
  background:rgb(255, 255, 255);
  padding-left:10px;
  border:1px #fff;
  resize: none;
  
}


.right form .text{
margin-bottom:2px;
}

.right form input:focus, .right form textarea:focus{
 outline-color:#28cdd0
}

.right form input{
  height:35px;
 }
 

@media screen and (max-width:900px){
  footer{
    position:relative;
  }
  .footer-content{
    flex-wrap:wrap;
    flex-direction: column;
  }
}



@media screen and (max-width: 768px) {
  .formulario {
      width: 80%;
  }
}

/* Media query para pantallas m치s peque침as */
@media screen and (max-width: 768px) {

  h4 {
      font-size: 28px;
      /* Ajusta el ancho al 100% en pantallas m치s peque침as */
  }
}






/* estilo de los a href y listas */
a {
  text-decoration: none;

  color:#ffffff
}

a:hover {
  color: #28cdd0;
}


ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size:1.20rem;
  
}