<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HappyPhone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="../css/form.css">
    
</head>
<body>
    
        <header>
            <div><a href="./index.html"><img class="logo-web" src="../img/logo.png" alt="logo_HappyPhone"></a></src></div>
            <nav class="nav-links">
                <ul>
                    <li class="menu-section"><a href="./login.html">Inicia sesión</a></li>
                    <li class="menu-section"><a href="./register.html">Registro</a></li>
                    <li class="menu-section"><a href="./contact.html">Contacto</a></li>
                    <li><a href="cart.html"><img class="logo-shoppingcart" src="../img/shoppingcart.png" alt="shoppingcart"></a></li>
                </ul>
            </nav>
        </header>
        
        
<main>
      <div class="box">
        <div class="inner-box hero">
          <div class="forms-wrap">
            <form action="../index.html" autocomplete="off" class="sign-in-form">

              <div class="heading">
                <h2>Bienvenido</h2>
                <h6>¿No tienes cuenta?</h6>
                <a href="#" class="toggle">Regístrate aquí</a>
              </div>

              <div class="formGroup" >
                <div class="input-wrap">
                  <label id="user-error"></label>

                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="user-field"
                    onkeyup="validateUser()"
                  />

                  <label id="user">Usuario</label>
                </div>
            


                <div class="input-wrap">
                  <label id="password-error"></label>
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="password-field"
                    onkeyup="validatePassword()"
                  />
                  <label id="password">Contraseña</label>
                </div>

                <button type="submit" class="sign-btn">Inicia Sesión</button>

                <p class="text">
                  ¿No te acuerdas de tu contraseña?
                  <a href="#">Click aquí</a>
                </p>
              </div>
            </form>


            
            <!-- Formulario registro -->
            <form action="#" autocomplete="off" class="sign-up-form" id="registrationForm" >
            
              <div class="heading">
                <h2>Registro</h2>
                <h6>¿Ya tienes cuenta con nosotros?</h6>
                <a href="#" class="toggle">Inicia sesión</a>
              </div>
              <div class="formGroup " >
                <div class="input-wrap">
                  <label id="user-error2"></label>
                 
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="user-field2"
                    onkeyup="validateUser2()"
                  />
                  <label id="user2">Usuario</label>
                  
                </div>

                <div class="input-wrap">
                  <label id="email-error"></label>
                  
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    id="email-field"
                    required
                    onkeyup="validateEmail()"
                  />

                  <label id="email">Email</label>
                </div>

                <div class="input-wrap">
                  <label id="password-error2"></label>


                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="password-field2"
                    onkeyup="validatePassword2()"
                  />

                  <label id="password2">Contraseña</label>
                </div>
             

                <button type="submit" value="Sign Up" class="sign-btn"">Regístrate</button>

              
                  <div>
                    <div  required class="g-recaptcha" data-sitekey="6LekUzgpAAAAAHUBZUTGq3RU6VwL5lyah8-2IuuA">
                    </div>
                    
                  </div>


                
                <p class="text">
                 He leído y estoy deacuerdo con los
                  <a href="#">Términos y servicios</a> y la
                  <a href="#">Política de Privacidad</a>
                </p>
              </div>

           
              
            </form>
          </div>
          <div class="sideImage">
                  <h2 class="text-group"> Más de 10mil productos </h2>
              </div>

             
            </div>
          </div>
        </div>
      </div>
    </main>

        


  
       <!-- FOOTER  -->
  <footer>
    <section class="footer-content">
       <div class="left boxfooter">

    
            <h2> Sobre Nosotros </h2>
            <div class="content">
              <p>Somos HappyPhone, tu destino confiable para descubrir las últimas y mejores opciones en dispositivos móviles. Nos enorgullece ofrecer una amplia selección de teléfonos inteligentes de alta calidad, que van desde los últimos modelos hasta opciones asequibles y duraderas.</p>
              <p>En HappyPhone, nos esforzamos por brindar la mejor experiencia de compra de teléfonos móviles, respaldada por un servicio al cliente excepcional. Ya sea que estés buscando la última tecnología o una solución confiable, estamos aquí para ayudarte a encontrar el dispositivo perfecto para satisfacer tus necesidades.</p>
    
            <figure class="rrss-footer">
            <a href="#" target="_blank"><img class="logo-rrss" src="../img/instagram.png" alt="logo_instagram"></a>
            <a href="#" target="_blank"><img class="logo-rrss" src="../img/facebook.png" alt="logo_facebook"></a>
            <a href="#" target="_blank"><img class="logo-rrss" src="../img/whatsapp.png" alt="logo_whatsapp"></a>

          </figure>
        </div>
      </div>

        
        <div class="center boxfooter">
          <h2>HappyPhone</h2>
          <div class="content">
            <ul class="list-style"> 
              <li><a href="#" target="_blank">Ayuda</a></li>
              <li><a href="./terms.html">Términos y condiciones</a></li>
              <li><a href="#" target="_blank">Trabaja con nosotros</a></li> 
           </ul>
           <div class="place">
           <img src="../img/ubicacionIcono.png" alt="icono de ubicación" class= "icono-ubicacion">
           <span class="text"> Calle Ficticia 28, Madrid, España</span>
          </div>

           
          </div>


        </div>


        <div class="right boxfooter">
          <h2>Contacto</h2>

          <div class="content">
            <form class="form-contact">
              <div class="email">
                <div class="text-contact"> Correo electrónico</div>
                <label for="email"> </label>
                <input type="email" id="email" name="email"  required >
              </div>

            <div class="msg">
              <div class="text-contact"> Motivo de contacto </div>
                <label for="message"> </label>
                <textarea id="message" name="message" rows="2"  cols="25"  required></textarea>
            </div>

            <div class="btn-contact">
                <button type="submit">Enviar</button>
            </div>
          </form>

          </div>
          
        </div>
        
    </section>

    
    <script src="../src/form.js"></script>
</body>
</html>

    
   








